<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>News Resource</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />

	<style>
	body {
  	background-image: url('https://img1.goodfon.ru/original/3200x1200/2/b8/les-tuman-utro-dorozhka.jpg');
  	
}
 table {
    width: 100%; 
    background: white;  
     margin-top: 50px;
	</style>

</head>

<body>
	
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
  
 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
  	
  	<ul class="navbar-nav mr-auto">
  	<li class="nav-item active"> </li>
 	<li class="nav-item">
  	<a class="nav-link" href="/login"><button type= "button" class="btn btn btn-light text-primary pl-4 pr-4 mr-2">Sign in</button></a>
  
  	<li class="nav-item">
  	<a class="nav-link" href="/register"><button type= "button" class="btn btn btn-light text-primary pl-4 pr-4 mr-2">Sign up</button></a>
	</ul>
 	
 	</div>
    
    <form class="form-inline mr-2 my-2 my-lg-0"><img src="https://image.flaticon.com/icons/svg/2489/2489548.svg" width="45" height="70" alt="">
      <input class="form-control ml-2 mr-sm-2 border border-primary" type="search"  placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 text-primary btn btn-light border border-primary" type="submit">Filter News  </button>
    </form>
 
</nav>

  	<main role="main" class="container">
	
<table class ="table">

  <tr>
     <tr th:each="rus : ${mainpage}">
     <td scope="col" th:text="${rus.title}"></td>
     <tr th:each="usa : ${news}">
     <td scope="col" th:text="${usa.title}"></td>
    
   </tr>

 </table>

</main>
  	
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
